.backDrop {
    background-image: url('../../assets/images/drop.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: inherit;
}

.title {
    font-size: 3rem;
    font-weight: 800;
}

.sub-title{
    font-size: 1.3rem;
}

.track-wrapper {
    background-color: white;
    height: max-content;
    position: relative;
    margin-top: 4rem;
}

.skew-wrapper {
    background-color: #333;
    margin-top: 8rem;
    margin-bottom: 10rem;
    height: 900px;
    transform: skewY(4deg);
    -moz-transform: skewY(4deg);
}
.track-content-wrapper {
    position: absolute;
    top: 0rem;
    z-index: 10;
}

.tk-img {
    background-image: url('../../assets/images/Distance.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    max-height: 500px;
    width: 100%
}
.qt-img {
    background-image: url('../../assets/images/van.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    max-height: 500px;
    width: 90%
}